.body{

}
.lvTasks{
    width: 100%;
    margin-top: 30px;
    max-width: 500px;
    height: 500px;
    background-color: #cccccc4d;
    overflow: auto;
    border-radius: 5px;
}
.lvDescr{
    width: 100%;
    margin-top: 30px;
    margin-left: 20px;
    max-width: 580px;
    height: 500px;
    background-color: #cccccc4d;
    border-radius: 5px;
    overflow: auto;
}
.lvTasksHeader{
    margin-left: 10px;
    margin-bottom: 20px;

}
.taskTitle{
    margin-bottom: 20px;
}
.taskAdded{
    background-color: white !important;
}
.taskCb{
    background-color: white !important;
}
.taskGroup{
    margin: 30px;
}
.dsTasktitle{
    width: 100%;
    max-width: 580px;

}
.dsTasktA{
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    max-width: 550px;
}
.dpDeadline{
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    margin-left: 15px;
}
.subTaskTitle{
    width: 100%;
    max-width: 530px;
    margin-top: 20px;
    margin-left: 15px;
}
.subTaskAdded{
    background-color: white !important;
    width: 100%;
    max-width: 530px;
}
.addedSubtask{
    max-width: 500px;
    margin-left: 30px !important;
}